[attributes]
---
label: aboutus
categories: []
position: 0
[content]
<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>In our journey towards a brighter tomorrow, <%= Cms::Application.config.x.site_config.name %> stands as a beacon of innovation and commitment. As a national leader in the power industry, we take pride in powering homes, businesses, and industries with a focus on sustainability and excellence.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Our Mission.</h3>
            <p class="fst-italic">
              Driving Sustainable Energy Solutions
            </p>
            <ul>
              <li><i class="bi bi-check-circled"></i> At <%= Cms::Application.config.x.site_config.name %>, our mission is clear: to drive sustainable energy solutions that not only meet the demands of today but also pave the way for a sustainable and prosperous future. We believe in more than just providing power; we are dedicated to empowering lives and fostering economic and social growth in the communities we serve.</li>
              <li><i class="bi bi-check-circled"></i> Founded 1884, <%= Cms::Application.config.x.site_config.name %> has been at the forefront of the power industry, evolving and adapting to the changing landscape of energy. Our journey from pioneering beginnings to becoming a national force reflects our unwavering dedication to excellence, innovation, and customer satisfaction.</li>
              <li><i class="bi bi-check-circled"></i> In the dynamic world of energy, we have consistently embraced change and harnessed the latest technologies to deliver cutting-edge solutions. Our team of skilled professionals is driven by a passion for creating a sustainable future, and our commitment to reliability and efficiency has made us a trusted partner in the nation's power infrastructure.</li>
            </ul>
            <p>
              As we continue to grow and innovate, we remain guided by our core values of integrity, sustainability, and community impact. Join us on this journey as we light the way towards a brighter, greener, and more connected future.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->