[attributes]
---
label: team
categories: []
position: 7
[content]
<!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our Exceptional Team: Driving Excellence in Every Watt</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/team/team-1.jpg" alt="">
              <h4>Walter White</h4>
              <span>Chief Executive Officer (CEO)</span>
              <p>
                With a proven track record in strategic leadership, John spearheads our vision for a sustainable energy future. His dedication to innovation and customer-centric solutions has been instrumental in positioning <%= Cms::Application.config.x.site_config.name %> as a leader in the power industry.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/team/team-2.jpg" alt="">
              <h4>Dr. Emily K. Rodriguez</h4>
              <span>Chief Technology Officer (CTO)</span>
              <p>
                As the driving force behind our technological advancements, Dr. Rodriguez brings a wealth of expertise in energy systems and sustainable technologies. Her passion for innovation shapes our commitment to cutting-edge solutions and environmental responsibility.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="/img/team/team-3.jpg" alt="">
              <h4>Sarah M. Johnson</h4>
              <span>Chief Customer Experience Officer (CCXO)</span>
              <p>
                Sarah leads our customer-centric initiatives, ensuring seamless interactions and exceptional service. With a background in customer experience management, she is dedicated to fostering positive relationships and enhancing the overall customer journey at <%= Cms::Application.config.x.site_config.name %>.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->